.advantages-icon {
	height: 5rem;
}

.advantages-item {
	padding-top: 2rem;
	padding-bottom: 2rem;
	transition: all .3s ease-in-out;
}

.advantages-item:hover {
	transform: scale(1.1);
}

.advantages-item h3 {
	font-size: 2rem;
}